<div class="content">
    <div class="left-panel">
        <app-page-thumbnails [pdf]="(pdf$ | async)!" [page]="(currentPageNumber$ | async)!"></app-page-thumbnails>
    </div>
    <div class="preview">
        <app-image-view [pdf]="(pdf$ | async)!" [page]="(currentPageNumber$ | async)!" [comments]="(comments$ | async)!" [selectedComment]="(selectedComment$ | async)!"></app-image-view>
    </div>
    <div class="right-panel">
        <app-comment-list [pdf]="(pdf$ | async)!" [page]="(currentPageNumber$ | async)!" [comments]="(comments$ | async)!" [selectedComment]="(selectedComment$ | async)!"></app-comment-list>
    </div>
</div>