.header {
    display: flex;
    justify-content: space-between;

    button {
        color: #666;
    }
}

.pdf-list {
    .pdf-row {
        cursor: pointer;

        &:hover {
            background-color: #eee;
        }
    }
}