<div class="main">
  <mat-toolbar color="primary">
    <mat-toolbar-row>
      <div routerLink="/home" routerLinkActive="link-active">
        <button mat-button>ホーム</button>
      </div>
      <div routerLink="/pdf/list" routerLinkActive="link-active">
        <button mat-button>PDF一覧</button>
      </div>
      <div routerLink="/pdf/upload" routerLinkActive="link-active">
        <button mat-button>アップロード</button>
      </div>
    </mat-toolbar-row>
  </mat-toolbar>

  <div class="content">
    <router-outlet></router-outlet>
  </div>
</div>